# PORT=5003
# NODE_ENV=development
# MONGO_URI=mongodb+srv://pitsinee592549_db_user:kwanjai123@vacqcluster.vgeutm1.mongodb.net/?appName=VacQCluster

NODE_ENV=development

PORT=5003

MONGO_URI=mongodb+srv://pitsinee592549_db_user:kwanjai123@vacqcluster.vgeutm1.mongodb.net/VacQ?retryWrites=true&w=majority&appName=VacQCluster


JWT_SECRET=asdfjkl;;lkjfds
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

